### **`Problem 1`** Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [1]:
# Write code here
def calculate_tax(income):
    """
    Calculates tax based on the provided progressive slabs:
    - Below 5 Lakhs: 0%
    - 5-10 Lakhs: 10%
    - 10-20 Lakhs: 20%
    - Above 20 Lakhs: 30%
    """
    tax = 0

    # Slab 1: 0 - 5 Lakhs
    if income <= 500000:
        return 0

    # Slab 2: 5 Lakhs - 10 Lakhs
    # Tax the amount above 5L at 10%
    if income > 500000:
        taxable_amount = min(income, 1000000) - 500000
        tax += taxable_amount * 0.10

    # Slab 3: 10 Lakhs - 20 Lakhs
    # Tax the amount above 10L at 20%
    if income > 1000000:
        taxable_amount = min(income, 2000000) - 1000000
        tax += taxable_amount * 0.20

    # Slab 4: Above 20 Lakhs
    # Tax the amount above 20L at 30%
    if income > 2000000:
        taxable_amount = income - 2000000
        tax += taxable_amount * 0.30

    return tax

print("--- Monthly In-Hand Salary Calculator ---")
ctc_input = float(input("Enter your Annual CTC (in Lakhs): "))

# Convert Lakhs to absolute value for calculation
ctc_absolute = ctc_input * 100000

# Calculate Percentage Deductions
hra_deduction = ctc_absolute * 0.10  # 10%
da_deduction = ctc_absolute * 0.05   # 5%
pf_deduction = ctc_absolute * 0.03   # 3%

# Calculate Tax Deduction
tax_deduction = calculate_tax(ctc_absolute)

# Calculate Total Deductions
total_deductions = hra_deduction + da_deduction + pf_deduction + tax_deduction

# Calculate In-Hand Salary
annual_in_hand = ctc_absolute - total_deductions
monthly_in_hand = annual_in_hand / 12

# Output Results
print("\n--- Salary Breakdown ---")
print(f"Annual CTC:          ₹ {ctc_absolute:,.2f}")
print(f"HRA Deduction (10%): ₹ {hra_deduction:,.2f}")
print(f"DA Deduction (5%):   ₹ {da_deduction:,.2f}")
print(f"PF Deduction (3%):   ₹ {pf_deduction:,.2f}")
print(f"Tax Deduction:       ₹ {tax_deduction:,.2f}")
print("-" * 30)
print(f"Total Deductions:    ₹ {total_deductions:,.2f}")
print(f"Annual In-Hand:      ₹ {annual_in_hand:,.2f}")
print("-" * 30)
print(f"Monthly In-Hand:     ₹ {monthly_in_hand:,.2f}")

--- Monthly In-Hand Salary Calculator ---
Enter your Annual CTC (in Lakhs): 10

--- Salary Breakdown ---
Annual CTC:          ₹ 1,000,000.00
HRA Deduction (10%): ₹ 100,000.00
DA Deduction (5%):   ₹ 50,000.00
PF Deduction (3%):   ₹ 30,000.00
Tax Deduction:       ₹ 50,000.00
------------------------------
Total Deductions:    ₹ 230,000.00
Annual In-Hand:      ₹ 770,000.00
------------------------------
Monthly In-Hand:     ₹ 64,166.67

### **`Problem 2`** Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [2]:
# Write code here
first = float(input("enter first angle: "))
second = float(input("enter second angle: "))
third = float(input("enter third angle: "))

if first + second + third == 180 and first > 0 and second > 0 and third > 0:
    print("valid triangle")
else:
    print("invalid triangle")

enter first angle: 45
enter second angle: 90
enter third angle: 45
valid triangle

### **`Problem 3`** Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [3]:
# Write code here
cost_price = float(input("enter cost price: "))
selling_price = float(input("enter selling price: "))

d = selling_price - cost_price
if d > 0:
    print("profit")
elif d < 0:
    print("loss")
else:
    print("no loss no gain")

enter cost price: 10
enter selling price: 12
profit

### **`Problem 4`** Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to BDT
4. exit

In [4]:
# Write code here
menu = int(input(
    """
    Enter your choice
    1. cm to ft
    2. km to miles
    3. USD to BDT
    4. exit
    """
))
if menu == 1:
    cm = float(input("Enter distance in cm : "))
    ft = cm * 0.032
    print(ft)
elif menu == 2:
    km = float(input("Enter distance in km : "))
    miles = km * 0.62
    print(miles)
elif menu == 3:
    usd = float(input("Enter price in usd : "))
    bdt = usd * 120
    print(bdt)
else:
    print("exit")

    Enter your choice
    1. cm to ft
    2. km to miles
    3. USD to BDT
    4. exit
    3
Enter price in usd : 9.99
1198.8

### **`Problem 5`** Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [5]:
# Write code here
num1, num2 = 0, 1
for i in range(10):
    print(num1, end = " ")
    next = num1+num2
    num1 = num2
    num2 = next

0 1 1 2 3 5 8 13 21 34

### **`Problem 6`** Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [6]:
# Write code here
fact = 1
num = int(input("Enter number: "))
for i in range(1, num + 1):
    fact *= i
print(fact)

Enter number: 5
120

### **`Problem 7`** Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [7]:
# Write code here
num = int(input("Enter the number: "))
rev = 0
print("Before reverse", num)
while num:
    digit = num % 10
    num //= 10
    rev = rev * 10 + digit
print("After reverse", rev)

Enter the number: 76542
Before reverse 76542
After reverse 24567

### **`Problem 8`** Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [8]:
# Write code here
N = int(input("enter N: "))
tot = 0
for i in range(1, N+1):
    if i % 5 == 0:
        continue
    tot += i
    if tot > 300:
        tot -= i
        break
print(tot)

enter N: 30
276

### **`Problem 9`** Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [9]:
# Write code here
tot = 0
count = 0
while True:
    num = int(input())
    if num == 0:
        break
    tot += num
    count += 1
print("sum", tot)
print("avg", tot/count)

1
2
3
4
5
0
sum 15
avg 3.0

### **`Problem 10`** Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [12]:
# Write code here
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### **`Problem 11`** Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [13]:
# Write code here
for i in range(1000, 3001):
    flag = True
    curr = i
    while curr:
        d = curr % 10
        if d % 2 != 0:
            flag = False
            break
        curr //= 10
    if flag:
        print(i, end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

### **`Problem 12`** A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [15]:
# Write code here
x = 0
y = 0
while True:
    path = input("Enter the robot path: ")
    if path == "!":
        break
    dir = path.split()[0]
    steps = int(path.split()[1])
    if dir == "UP":
        y += steps
    elif dir == "DOWN":
        y -= steps
    elif dir == "RIGHT":
        x += steps
    else:
        x -= steps
print("distance: ", (x**2+y**2)**0.5)

Enter the robot path: UP 5
Enter the robot path: DOWN 5
Enter the robot path: LEFT 5
Enter the robot path: RIGHT 5
Enter the robot path: !
distance:  0.0

### **`Problem 13`** Write a program to print whether a given number is a prime number or not

In [18]:
# Write code here
num = int(input("enter the num: "))

flag = True
for i in range(2, num):
    if num % i == 0:
        flag = False
        break
if flag == True:
    print("Prime")
else:
    print("Not prime")

enter the num: 17
Prime

### **`Problem 14`** Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [20]:
start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))

print(f"Armstrong numbers between {start_range} and {end_range} are:")

for num in range(start_range, end_range + 1):
    order = len(str(num))
    tot = 0
    temp_num = num
    while temp_num > 0:
        digit = temp_num % 10
        tot += digit ** order
        temp_num //= 10
    if num == tot:
        print(num)

Enter the start of the range: 1
Enter the end of the range: 100
Armstrong numbers between 1 and 100 are:
1
2
3
4
5
6
7
8
9

### **`Problem 15`** Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [28]:
H = int(input("Enter the hour (0-12): "))
M = int(input("Enter the minute (0-59): "))

# Validate input
if not (0 <= H <= 12 and 0 <= M <= 59):
    print("Invalid input. Hour must be between 0-12 and Minute between 0-59.")
else:
    H %= 12
    angle = (60 * H - 11 * M ) / 2
    angle = abs(angle)
    angle = min(angle, 360-angle)
    # Print the floor of the result
    print((angle))

Enter the hour (0-12): 3
Enter the minute (0-59): 50
175.0

### **`Problem 16`** Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>