###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [1]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

L = [ [ x1, x2 ] for [x1, x2] in zip(list1, list2) ]
print(L)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [2]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [3]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
L = [ [name, count] for name, count in zip(candy_list, no_of_items) ]
for (name, count) in L:
    print(name, " - ", count)

Jelly Belly  -  10
Kit Kat  -  20
Double Bubble  -  34
Milky Way  -  74
Three Musketeers  -  32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [4]:
# Write code here
list1 = [1,2,3,4,5,6]
curr_sum = 0
ans = []
for i in list1:
    curr_sum += i
    ans.append(curr_sum)
print(ans)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [5]:
# Write code here
list1 = [2, 4, 6, 10, 1]
L = []
for i in list1:
    temp = [ item for item in list1 if item >= i ]
    L.append(sum(temp))
print(L)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [16]:
# Write code here
list1 = [23,45,67,78,89,34]
list2 = [34,89,55,56,39,67]

L = [ item for item in list1 if item in list2 ]
L.sort()
print(L)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [29]:
# write your code here
list1 = ['1ac21', '23fg', '456', '098d','1','kls']

def get_element_product(item):
    # print(item)
    num_list = [ int(num) for num in item if num >= '0' if num <= '9']
    # print(num_list)
    prod = 1
    [prod := prod * x for x in num_list]
    # print(prod)
    return prod if len(num_list) else 1

sorted(list1, key = get_element_product, reverse=True)

2
6
120
0
1
1

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [8]:
# Write code here

In [32]:
input_list = ['CampusX is a channel', 'for data-science', 'aspirants.']
output_list_comprehension = [word for sentence in input_list for word in sentence.split(' ')]
print(output_list_comprehension)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 's', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campusx is best channel
```

In [34]:
# Write code here
char_matrix = [['c', 'a', 'm', 'p', 'u', 's', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

output_string = " ".join([ "".join(word_chars) for word_chars in char_matrix  ])

print(output_string)

campusx is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [45]:
# Code here

input_list = ['campusxIs', 'bestFor', 'dataScientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [51]:
# Write code here
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]
L = []
[ L.append(x) for x in list1+list2 if x not in L]
print(L)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [54]:
# Write code here
list1 = [[1,2,3],[4,5,6],[7,8,9]]
[ max(x) for x in list1 ]

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [61]:
# Write code here
list1 = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[
    [
        list1[i][j] for j in range(len(list1[0]))
    ]
        for i in range(len(list1))
]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [66]:
# Write code here
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

transposed_matrix = [
    [
        matrix[j][i] for j in range(len(matrix[0]))
    ]
    for i in range(len(matrix))
]

print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# Write code here
matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

flatten_matrix = [
    matrix[j][i] for j in range(len(matrix[0]))
    for i in range(len(matrix))
]
print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]