### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [2]:
def get_unique_elements(num_list):
    res = []
    for num in num_list:
        if num not in res:
            res.append(num)
    return res
L = [1,2,3,3,3,3,4,5]
print(get_unique_elements(L))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [3]:
# Write code here
def sort_sequence(words):
    return "-".join(
                sorted(
                    words.split("-")
                )
            )
words = "green-red-yellow-black-white"
print(sort_sequence(words))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def case_counter(s):
    up_case = low_case = 0
    for ch in s:
        up_case += ch.isupper()
        low_case += ch.islower()
    return (up_case, low_case)
sample = "CampusX is an Online Mentorship Program fOr EnginEering studentS."
up_case, low_case = case_counter(sample)
print("No. of Upper case characters :" , up_case)
print("No. of Lower case Characters :", low_case)

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [4]:
# Write code here
def even_list(L):
    res = []
    for i in L:
        if i % 2 == 0:
            res.append(i)
    return res
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print( even_list(L) )

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def is_perfect(num):
    tot = 0
    for i in range(1, num):
        if num % i == 0:
            tot +=  i
    return tot == num
print(is_perfect(6))
print(is_perfect(28))
print(is_perfect(496))
print(is_perfect(8128))
print(is_perfect(54))
print(is_perfect(54645))

True
True
True
True
False
False

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def concatenate_dicts(*dicts):
    new_dict= {}
    # print(dicts)
    for dic in dicts:
        new_dict.update(dic)
    return new_dict

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concatenate_dicts(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### **`Problem-7`** Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [5]:
# Write code here
def frequence_word(sentence):
    word_counts = {}
    for word in sentence.split():
        if word in word_counts:
            word_counts[word] = word_counts[word] + 1
        else:
            word_counts[word] = 1

    max_count = max( word_counts.values() )

    for key, value in word_counts.items():
        if value == max_count:
            return key, max_count

sentence = "hello how are you i am fine thank you"
print(frequence_word(sentence))

('you', 2)

### **`Problem-8`** Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here
def build_histogram(data):
    data.sort()
    mn = data[0]
    mx = data[-1]
    mn_range = ( (mn-1)//10 ) * 10 + 1
    mx_range = ( (mx-1)//10 ) * 10 + 10
    # print(mn_range, mx_range)
    histogram = {}
    for i in range(mn_range, mx_range+1, 10):
        bin_label = f"{i}-{i+9}"
        histogram[bin_label] = 0
    for num in data:
        bin_start = ( (num-1)//10 ) * 10 + 1
        bin_label = f"{bin_start}-{bin_start+9}"
        histogram[bin_label] += 1
    return histogram

data = [13, 42, 15, 37, 22, 39, 41, 50]
print(build_histogram(data))

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

### **`Problem-9`** Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [6]:
# Write code here
import functools
def shortest_dist( coordinates, query_point):
    def calc_dist(p1, p2):
        x1, y1 = p1
        x2, y2 = p2
        return ((x1-x2)**2 + (y1-y2)**2)**(1/2)
    mn = 1e309
    point = None
    for p in coordinates:
        d = calc_dist(query_point, p)
        if d < mn:
            mn = d
            point = p
    return point
coordinates = [(1,1),(2,2),(3,3),(4,4)]
query_point = (0,0)
print(f"Nearest to {query_point} is {shortest_dist(coordinates, query_point)}"  )

Nearest to (0, 0) is (1, 1)

### **`Problem-10`** Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
def bag_of_words(documents):
    vocabulary = set()
    tokenized_documents = []
    for doc in documents:
        words = doc.lower().split()
        tokenized_documents.append(words)
        vocabulary.update(words)

    vocabulary = sorted(list(vocabulary))

    bow = []
    for doc_words in tokenized_documents:
        vector = [0] * len(vocabulary)
        for word in doc_words:
            vector[vocabulary.index(word)] += 1
        bow.append(vector)

    return vocabulary, bow

documents = [
    "The cat sat on the mat",
    "The dog sat on the log",
    "The cat and the dog"
]

vocabulary, bow = bag_of_words(documents)

print("Vocabulary:", vocabulary)
print("Bag of Words Vectors:")
for i, vec in enumerate(bow):
    print(f"Document {i+1}: {vec}")

Vocabulary: ['and', 'cat', 'dog', 'log', 'mat', 'on', 'sat', 'the']
Bag of Words Vectors:
Document 1: [0, 1, 0, 0, 1, 1, 1, 2]
Document 2: [0, 0, 1, 1, 0, 1, 1, 2]
Document 3: [1, 1, 1, 0, 0, 0, 0, 2]

### **`Problem 11`** Write a Python program to add three given lists using Python map and lambda.

In [7]:
# Write code here
L1 = [1, 2, 3]
L2 = [4, 5, 6]
L3 = [7, 8, 9]

list(map(lambda x, y, z: x + y + z, L1, L2, L3))

[12, 15, 18]

### **`Problem-12`** Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [8]:
# Write code here

list1 = [1,2,3,4,5,6]
list(map(lambda x,y: x**y, list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

### **`Problem-13`** Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [9]:
# Write code here
sample = "FIFA world cup in 2026 will take place in united states, mexico, and canda"
list(filter(lambda x: True if x.lower() in "aeiou" else False, sample))

['I',
 'A',
 'o',
 'u',
 'i',
 'i',
 'a',
 'e',
 'a',
 'e',
 'i',
 'u',
 'i',
 'e',
 'a',
 'e',
 'e',
 'i',
 'o',
 'a',
 'a',
 'a']

### **`Problem-14`** Use reduce to convert a 2D list to 1D

In [10]:
# Write code here
list_2D = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
import functools
functools.reduce(lambda x,y: x+y, list_2D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### **`Problem 15`** A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [12]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [14]:
list(
    map(
        lambda x:x['fname'] + ' ' + x['lname'],
        list(
            filter(
                lambda x:True if x['grade'] == 'highly-skilled' else False,
                employees
            )
        )
    )
)

['Neha Singh', 'Abhinav Sharma']