## **If-else in Python**

In [ ]:
# login program and indentation
# email -> name.company@gmail.com
# password -> 1234

email = input('enter email: ')
password = input('enter password: ')

if email == "name.company@gmail.com" and password == "1234":
    print("Welcome")
elif email == "name.company@gmail.com" and password != "1234":
    print("Incorrect Password")
    password = input('enter password again: ')
    if password == "1234":
        print("Welcome, finally!")
    else:
        print("You can't do it")
else:
    print("Not Correct")

enter email: name.company@gmail.com
enter password: 4567
Incorrect Password
enter password again: 1234
Welcome, finally!

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# min of 3 number

a = int(input('first num: '))
b = int(input('second num: '))
c = int(input('third num: '))

if a < b and a < c:
    print("Smallest Number: ", a )
elif b < c:
    print("Smallest Number: ", b )
else:
    print("Smallest Number: ", c )

first num: 4
second num: 5
third num: 8
Smallest Number:  4

In [ ]:
# menu driven calculator
fnum = int(input("Enter the 1st Number: "))
snum = int(input("Enter the 2nd Number: "))

op = input("""
Enter the Operation
1. For Addition: '+'
2. For Subtraction: '-'
3. For Multiplication: '*'
4. For Division: '/'
""")

if op == '+':
    print(fnum + snum)
elif op == '-':
    print(fnum - snum)
elif op == '*':
    print(fnum * snum)
elif op == '/':
    print(fnum / snum)
else:
    print("Not valid operator")

Enter the 1st Number: 4
Enter the 2nd Number: 2

Enter the Operation
1. For Addition: '+'
2. For Subtraction: '-'
3. For Multiplication: '*'
4. For Division: '/'
/
2.0

In [ ]:
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
    print("pin change")
elif menu == '2':
    print("balance check")
elif menu == '3':
    print("withdrawl")
else:
    print("exit")

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
3
withdrawl

## **Loops in Python**

- While Loop
- For Loop

### **While Loop**

In [ ]:
# While loop example -> program to print the table
num = int(input("Enter the number: "))

i = 1
while i <= 10:
    print(num, '*', i, '=', num * i)
    i += 1

Enter the number: 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [ ]:
# while loop with else

x = 1
while x < 3:
    print(x)
    x += 1
else:
    print("limit crossed")

1
2
limit crossed

In [ ]:
# Guessing game

import random
jackpot = random.randint(1, 100)

guess = int(input("Enter your guess: "))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print("Wrong! Guess Higher")
    else:
        print("Wrong! Guess Lower")
    guess = int(input("Enter your guess: "))
    counter += 1
else:
    print("Correct Guess")
    print("Attempts:", counter)

Enter your guess: 50
Wrong! Guess Lower
Enter your guess: 25
Wrong! Guess Lower
Enter your guess: 12
Wrong! Guess Lower
Enter your guess: 6
Wrong! Guess Lower
Enter your guess: 3
Wrong! Guess Higher
Enter your guess: 4
Correct Guess
Attempts: 6

### **For Loop**

In [ ]:
# basic loop structure: default jump 1
for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# loop with user defined jump stemp
for i in range(1, 11, 2):
    print(i, end = " ")

1 3 5 7 9

In [ ]:
# reverse iteration
for i in range(10, 0, -1):
    print(i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
# iterate through strings
for i in "Sharif":
    print(i)

S
h
a
r
i
f

In [ ]:
# iterate through list
for i in [1, 2, 3]:
    print(i)

1
2
3

In [ ]:
# iterate through tuple
for i in (1, 2, 3):
    print(i)

1
2
3

In [ ]:
# iterating through set
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

#### Explanation :



To calculate the population for each year with a 10% increase, you can use a simpler equation based on the previous year's population. Let's assume the population of the previous year is represented by variable x.

The equation can be written as:

> Current Year Population = x * 1.1

In this equation, the current year's population is equal to the previous year's population multiplied by 1.1, representing a 10% increase.

To find the population of the previous year (x), we can rearrange the equation as follows:

> x = Current Year Population / 1.1

Using this simplified equation, if you have the current year's population (e.g., 10,000), you can divide it by 1.1 to calculate the population of the previous year.

This equation allows you to calculate the population for each year, assuming you know the population of the current year and want to find the population of the previous year.

In [ ]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop /= 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [4]:
# code here
n = int(input("Enter N: "))

sum = 0
fact = 1
for i in range(1, n + 1 ):
    fact *= i
    sum += ( i / fact )
    print( i, "/", i, "!", end=" ", sep ="")
    if i != n:
        print(" +", end = " ")
print("=", sum)

Enter N: 3
1/1!  + 2/2!  + 3/3! = 2.5

# **Nested Loops**

In [6]:
# Examples -> unique pairs
for i in range(1, 5):
    for j in range(1, 5):
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [11]:
# code here
rows = int(input("Enter number of rows: "))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print("*", end="")
    print()

Enter number of rows: 5
*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [13]:
# code here
rows = int(input("Enter number of rows: "))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(j, end="")
    for k in range(i-1, 0, -1):
        print(k, end="")
    print()

Enter number of rows: 5
1
121
12321
1234321
123454321

# **Loop Control Statement**

- Break
- Continue
- Pass

In [15]:
# break
for i in range(1, 10):
    if i == 5:
        break
    print(i, end=" ")

1 2 3 4

In [16]:
# printing prime numbers in a range

lower = int(input('Enter lower range: '))
upper = int(input('Enter upper range: '))

for i in range( lower, upper+1):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i, end = " ")

Enter lower range: 10
Enter upper range: 100
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [17]:
# continue
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [19]:
# pass
for i in range(1, 10):
    pass