# **Lists**

### **What are Lists**

List is a data type where you can store multiple items under 1 name.

## **Array Vs Lists**

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Speed of Execution
- Memory

## **How lists are stored in memory**

In [27]:
L = [1, 2, 3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

133366700009728
11654376
11654408
11654440
11654376
11654408
11654440

## **Characterstics of a List**

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- Dynamic
- Can be nested
- Items can be accessed
- Can contain any kind of objects in python

In [28]:
L = [1, 2, 3]
L1 = [3, 2, 1]

L == L1 # deep copy

False

## **Creating a List**

In [29]:
# Empty
print([])
# 1D -> Homo
print([1, 2, 3, 4, 5])
# 2D
print([ 1, 2, 3, [4, 5] ])
# 3D
print([ [ [1, 2], [3, 4] ], [ [5, 6], [7, 8] ]])
# Hetrogenous
print([1, True, 5.6, 5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## **Accessing Items from a List**

In [30]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]

# Indexing / Positive Indexing
# Accesing from left
# indexing start from 0
print(L[0][0][1])

# Negative Indexing
# Accessing from right
print(L[-1])

# Slicing
L = [1,2,3,4,5,6]
# to extract elements starting from at index 0 to (5-1)
print(L[0:5])
# to extract elements from the 0th index to (5-1)th character
print(L[:5])
# to extract elements starting from at index 6 to the last
print(L[6:])
# to extract elements starting from at index 0 to the 5th index charater but jumping by 2character towards right
print(L[0:6:2])
# to extract elements starting from at index 6 to the 1th index charater but jumping by 2character towards left
print(L[6:0:-2])
# to reverse a string
print(L[::-1])
# to print from the 5th charater from right to the end of the string
print(L[-5:])
#
print(L[-1:-6:-1])

2
[[5, 6], [7, 8]]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[]
[1, 3, 5]
[6, 4, 2]
[6, 5, 4, 3, 2, 1]
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

## **Adding Items to a List**



*   append
*   extend
*   insert

In [31]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [32]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [34]:
L = [1,2,3,4,5]
L.extend('dhaka')
print(L)

[1, 2, 3, 4, 5, 'd', 'h', 'a', 'k', 'a']

In [35]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

## **Editing items in a List**

In [36]:
L = [1,2,3,4,5]

# editing with indexing
L[0] = 4
print(L)

L[-1] = 500
print(L)

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[4, 2, 3, 4, 5]
[4, 2, 3, 4, 500]
[4, 200, 300, 400, 500]

## **Deleting items from a List**



*   del
*   remove
*   pop
*   clear

In [37]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [38]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [39]:
# pop
L = [1,2,3,4,5]

# pop with index
L.pop(0)
print(L)

# default pop
L.pop()
print(L)

[2, 3, 4, 5]
[2, 3, 4]

In [40]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

## **Operations on Lists**

- Arithmetic
- Membership
- Loop

In [41]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [43]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [44]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## **List Functions**

In [45]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L))
print(sorted(L,reverse=True))

5
0
7
[0, 1, 2, 5, 7]
[7, 5, 2, 1, 0]

In [46]:
# count
L = [1,2,1,3,4,1,5]
L.count(1)
L.count(15)
L.count(5)

1

In [47]:
# index
L = [1,2,1,3,4,1,5]
L.index(2)
L.index(5)
L.index(1)

0

In [48]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [49]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [50]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
133366698905024
[2, 1, 5, 7, 0]
133366699390336

## **List Comprehension**
List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]

Advantages of List Comprehension

* More time-efficient and space-efficient than loops.
* Require fewer lines of code.
* Transforms iterative statement into a formula.

In [51]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

x = []
for i in v:
    x.append(i * s )
print(x)

# using list comprehension
y = [s*i for i in v]
print(y)

[-6, -9, -12]
[-6, -9, -12]

In [54]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [55]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [56]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [57]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [58]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [59]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## **2 ways to traverse a list**

- itemwise
- indexwise

In [60]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [61]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

## **Zip**

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [62]:
# Write a program to add items of 2 lists indexwise

L1 = [1, 2, 3, 4]
L2 = [-1,-2,-3,-4]

print(list(zip(L1,L2)))

print([i+j for i,j in zip(L1,L2)])

[(1, -1), (2, -2), (3, -3), (4, -4)]
[0, 0, 0, 0]

In [63]:
L = [1, 2, print, type, input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x794beb791df0>>]

## **Disadvantages of Python Lists**

- Slow
- Risky usage
- eats up more memory

In [64]:
a = [1,2,3]
# a = b
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]