# **Sets**

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### **Creating Sets**

In [1]:
# empty
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1, 2, 3}
print(s1)
# s2 = {1, 2, 3, {4, 5}} # will produce error
# print(s2)

# homo and hetro
s3 = {1, 'hello', 4.5, (1, 2, 3) }
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

# set can't have mutable items
# s6 = {1,2,[3,4]}
# print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, 'hello', 4.5, (1, 2, 3)}
{1, 2, 3}
{1, 2, 3}

In [2]:
# set is unordered
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### **Accessing Items**

In [3]:
s1 = {1,2,3,4}
# no access using indexing/slicing

### **Editing Items**

In [4]:
s1 = {1,2,3,4}
# editing is not possible

### **Adding Items**

In [5]:
S = {1,2,3,4}
# add
S.add(5)
print(S)

# update
S.update([6, 7, 8])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

### **Deleting Items**

In [6]:
# del -> can delete whole set but specific element can't deleted
s = {1,2,3,4,5}
print(s)
del s
# print(s)

{1, 2, 3, 4, 5}

In [7]:
# discard -> to delete a specific element
s = {1,2,3,4,5}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [8]:
# remove
# to delete a specific element,
# but if the element is not exist,
# then it will give error
s = {1,2,3,4,5}
s.remove(4)
print(s)

{1, 2, 3, 5}

In [9]:
# pop -> deltes random elements
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [10]:
# clear -> to empty the set
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### **Set Operation**

In [11]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# Union(|)
print(s1 | s2)
print(s1.union(s2))

# Intersection(&)
print(s1 & s2)

# Difference(-)
print(s1 - s2)
print(s2 - s1)

# Symmetric Difference(^)
print(s1 ^ s2)

# Membership Test
print(1 not in s1)

# Iteration
for i in s1:
  print(i, end = " ")

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
False
1 2 3 4 5

### **Set Functions**

In [12]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

6
22
1
7
[7, 5, 4, 3, 2, 1]

In [13]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
print(s1.union(s2))

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [14]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.intersection(s2))
print(s1)
print(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5, 6, 7, 8}

In [15]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))
print(s1)
print(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [16]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.symmetric_difference(s2))
print(s1)
print(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [17]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

True
False
False

In [18]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### **Frozenset**
Frozen set is just an immutable version of a Python set object

In [19]:
#  create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [20]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [21]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### **Set Comprehension**

In [22]:
# examples

{i**2 for i in range(1,11) if i > 5}

{36, 49, 64, 81, 100}