# **Dictionary**

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'sharif', 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### **Create Dictionary**

In [ ]:
# empty dictionary
d = {}
print(d)

# 1D dictionary
d1 = { 'name' : 'last name' ,'gender' : 'male' }
print(d1)

# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)

# 2D dictionary -> JSON
s = {
    'name':'first name',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s)

# using sequence and dict function
d4 = dict([('name','first name'),('age',32),(3,3)])
print(d4)

# duplicate keys
d5 = {'name':'karim','name':'rahul'}
print(d5)

# mutable items as keys
d6 = {'name':'karim',(1,2,3):2}
print(d6)

{}
{'name': 'last name', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'first name', 'age': 32, 3: 3}
{'name': 'rahul'}
{'name': 'karim', (1, 2, 3): 2}

### **Accessing items**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
print(my_dict['age'])
# get
print(my_dict.get('age'))

s = {
    'name':'first name',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s['subjects']['maths'])

26
26
67

### **Adding key-value pair**

In [ ]:
d4 = dict([('name','first name'),('age',32),(3,3)])
print(d4)

d4['gender'] = 'male'
print(d4)

d4['weight'] = 72
print(d4)


s['subjects']['ds'] = 75
print(s)

{'name': 'first name', 'age': 32, 3: 3}
{'name': 'first name', 'age': 32, 3: 3, 'gender': 'male'}
{'name': 'first name', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### **Remove key-value pair**

In [ ]:
d = {'name': 'someone', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
# pop
d.pop(3)
print(d)

# popitem
d.popitem()
print(d)

# del
del d['name']
print(d)

# clear
d.clear()
print(d)

del s['subjects']['maths']
print(s)

{'name': 'someone', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'someone', 'age': 32, 'gender': 'male', 'weight': 72}
{'name': 'someone', 'age': 32, 'gender': 'male'}
{'age': 32, 'gender': 'male'}
{}
{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

### **Editing key-value pair**

In [ ]:
print(s)
s['subjects']['dsa'] = 80
print(s)

{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}
{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### **Dictionary Operations**

- Membership
- Iteration

In [ ]:
print(s)

print('name' in s)

{'name': 'first name', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}
True

In [ ]:
d = {'name':'karim','gender':'male','age':33}

for i in d:
  print(i,d[i])

name karim
gender male
age 33

### **Dictionary Functions**

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'karim', 'gender': 'male', 'age': 33}

'name'

In [ ]:
# items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'karim', 'gender': 'male', 'age': 33}
dict_items([('name', 'karim'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['karim', 'male', 33])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### **Dictionary Comprehension**

```bash
{ key: value for vars in iterable }
```

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'dhaka':1000,'ctg':2000,'brahmanbaria':3000}
print(distances.items())

dict_items([('dhaka', 1000), ('ctg', 2000), ('brahmanbaria', 3000)])

In [ ]:
# using existing dict
distances = {'dhaka':1000,'ctg':2000,'brahmanbaria':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'dhaka': 620.0, 'ctg': 1240.0, 'brahmanbaria': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}